<!DOCTYPE HTML>
<html>
	<head>
		@await Html.PartialAsync("Partial/MetatagsPartial")
		@await Html.PartialAsync("Partial/CssPartial")
	</head>
	<body>
		Подсистема "Доставка продуктов" | бИСТ-214 Забурдяев Никита
		@RenderBody()
		@await Html.PartialAsync("Partial/ScriptsPartial")
	</body>
</html>